/* Colour Palette

    background-color: #b84030;
    background-color: #3d1f10;
    background-color: #516241;
    background-color: #b9a072;
    background-color: #b04507;
    background-color: #750119;

*/

body {
    font-family: 'Noto Sans', sans-serif;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
}

.container > section:nth-of-type(even) {
    background-color:  #b84030;
    margin-bottom: 1rem;
}

.container > section:nth-of-type(odd) {
    background-color: #516241;
    margin-bottom: 1rem;
    
}

section > div {
    padding: 1.5rem;
    color: #fff;
}

h2 {
    font-size: 2rem;
    padding: 2rem 0;
}

h3 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1.5rem;
}

section a {
    background-color: rgba(0,0,0,0.8);
    border-radius: 0.25rem;
    color: #fff;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

section a:hover {
    background-color: rgba(0,0,0,0.6);
}

@media screen and (min-width: 544px) {
    .container > section {
        display: flex;
    }

    section img,
    section > div {
        width: 50%;
    }
}