/* Colour Palette

    background-color: #b84030;
    background-color: #3d1f10;
    background-color: #516241;
    background-color: #b9a072;
    background-color: #b04507;
    background-color: #750119;

*/

body {
    font-family: 'Noto Sans', sans-serif;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
}

.container > section:nth-of-type(even) {
    background-color:  #b84030;
    margin-bottom: 1rem;
}

.container > section:nth-of-type(odd) {
    background-color: #516241;
    margin-bottom: 1rem;
    
}

section > div {
    padding: 1.5rem;
    color: #fff;
}

h2 {
    font-size: 2rem;
    padding: 2rem 0;
}

h3 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1.5rem;
}

section a {
    background-color: rgba(0,0,0,0.8);
    border-radius: 0.25rem;
    color: #fff;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

section a:hover {
    background-color: rgba(0,0,0,0.6);
}
/****** Ok, so what happens when you expand the browser is that the image can only
grow so big, so the background starts to get bigger and bigger. To combat this, make
the image and the paragraphs/button side by side in a flex. No gap needed, as you 
want the color to blend***************/
@media screen and (min-width: 544px) {
    .container > section {
        display: flex;
    }

    section img,
    section > div {
        width: 50%;
    }
}

/**** Let's try something new. Let's put two sections next to each other, groups of
two all the way down the page. Because each section is it's own flex container, this
is us putting flex containers within flex containers. Shit's about to get Crazy!**/

@media screen and (min-width: 1090px) {
    .container {
        display: flex;
        flex-flow: wrap;  /***makes sure to push the next box into the row below******************/
        gap:2%;
    }

    /*******don't forget to give each flex item 50% real estate on the row******************/
    .container > section {
        width: calc(98%/2);
    }
}